
body {
	background-color:#ccc;
	margin:0px;
	padding:20px;
	font-size:15px;
	line-height:150%;
	color:#666;
	font-family:sans-serif;
	-webkit-user-select: auto;
}


h1 {
	font-size:30px;
	font-weight:bold;
	color:#aaa;
	padding:0px;
	margin-top:5px;
	margin-bottom:35px;

	
}

#fullscreen {
	position:absolute;
	top:10px;
	right:10px;
	padding:10px;
}

.utf-test {
	border:1px solid #aaa;
	color:1px solid #999;
	margin-top:20px;
	margin-bottom:20px;
	padding:20px;
	line-height:170%;
	font-size:12px;
}

#glass {
	height:36px;
	width:36px;
	float:left;
	margin-right:10px;
	vertical-align:text-top;
}
